*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Josefin Sans", sans-serif; }

.container {
  width: 100%;
  max-width: 144rem;
  margin: auto;
  padding: 0 1.5rem; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

input {
  font-family: inherit; }

.btn {
  color: #fff;
  background-color: #34bf49;
  border: none;
  padding: 1rem 2.5rem;
  font-size: 2.5rem;
  font-family: inherit;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  z-index: 1; }

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #58ee6e;
  transition: 0.3s;
  z-index: -1; }

.btn:hover {
  color: #464952; }

.btn:hover::before {
  width: 100%; }

@keyframes scrollAnimation {
  0% {
    width: 0;
    height: 0;
    opacity: 1; }
  50% {
    width: 7rem;
    height: 7rem;
    opacity: 0; }
  100% {
    width: 0;
    height: 0;
    opacity: 0; } }

.scroll-btn-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 555; }
  .scroll-btn-container .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    border: 3px solid #34bf49;
    color: #34bf49;
    font-size: 3rem;
    transition: 0.3s; }
    .scroll-btn-container .icon:hover {
      color: #fff;
      background-color: #34bf49; }
  .scroll-btn-container::before {
    content: "";
    position: absolute;
    animation: scrollAnimation 2.5s infinite linear;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #464952;
    z-index: -5; }

header .container {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header .container > * {
    height: 100%; }
  header .container .logo {
    display: flex;
    align-items: center; }
  header .container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-size: 2rem; }
    @media only screen and (max-width: 56.25em) {
      header .container ul {
        display: none; } }
    header .container ul li {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center; }
      header .container ul li a {
        color: #464952;
        transition: 0.3s; }
      header .container ul li:hover a {
        color: #34bf49; }
      header .container ul li::before {
        content: "";
        position: absolute;
        bottom: 0rem;
        height: 3px;
        width: 0;
        transition: 0.3s;
        background-color: #34bf49; }
      header .container ul li:hover::before {
        width: 50%; }
  header .container .search {
    display: flex;
    align-items: center; }
    header .container .search__icon {
      color: #34bf49;
      font-size: 2.5rem;
      cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      header .container .search {
        display: none; } }
  header .container .burger-icon {
    display: none;
    color: #34bf49;
    position: fixed;
    right: 2rem;
    top: 2rem;
    font-size: 3rem; }
    @media only screen and (max-width: 56.25em) {
      header .container .burger-icon {
        display: block; } }

h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #464952; }

p {
  color: #999999;
  line-height: 1.7;
  font-size: 2rem; }

.landing .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .landing .container .text-content {
    flex-basis: 50%; }
    @media only screen and (max-width: 37.5em) {
      .landing .container .text-content {
        text-align: center;
        flex-basis: 100%;
        margin: 5rem 0; } }
  .landing .container p:first-of-type {
    color: #464952;
    margin-bottom: 1rem; }
  .landing .container p:last-of-type {
    margin: 4rem 0; }
  .landing .container .img-container {
    padding-top: 4rem;
    flex-basis: 50%; }
    @media only screen and (max-width: 56.25em) {
      .landing .container .img-container {
        flex-basis: 40%; } }
    @media only screen and (max-width: 37.5em) {
      .landing .container .img-container {
        flex-basis: 100%;
        text-align: center; } }
    .landing .container .img-container img {
      width: 95%;
      position: relative;
      top: 0;
      left: 10rem;
      animation: spinDish 30s infinite linear; }
      @media only screen and (max-width: 56.25em) {
        .landing .container .img-container img {
          left: 0; } }
      @media only screen and (max-width: 37.5em) {
        .landing .container .img-container img {
          left: 0;
          width: 80%; } }

@keyframes spinDish {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.section-heading {
  text-align: center;
  padding: 10rem 0; }
  .section-heading h2 {
    font-size: 4rem;
    color: #34bf49;
    width: 65%;
    line-height: 1.7;
    margin: 4rem auto; }
    @media only screen and (max-width: 37.5em) {
      .section-heading h2 {
        width: 100%;
        font-size: 2.6rem; } }
  .section-heading p {
    width: 50%;
    margin: auto; }
    @media only screen and (max-width: 37.5em) {
      .section-heading p {
        width: 100%; } }

.recipe_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5rem 0; }
  @media only screen and (max-width: 37.5em) {
    .recipe_box {
      justify-content: center;
      text-align: center; } }
  .recipe_box__img-container {
    position: relative;
    width: 47rem;
    height: 40rem;
    overflow: hidden; }
    @media only screen and (max-width: 37.5em) {
      .recipe_box__img-container {
        flex-basis: 100%; } }
    .recipe_box__img-container img {
      width: 100%;
      height: 100%;
      transition: 0.3s ease-in-out; }
      .recipe_box__img-container img:hover {
        transform: scale(1.2); }
    .recipe_box__img-container::before {
      content: "";
      position: absolute;
      left: -100%;
      top: 50%;
      width: 30%;
      height: 200%;
      transform-origin: center;
      transform: translateY(-50%) rotate(-45deg);
      background-color: #50e967a8;
      transition: 0.5s ease-in-out;
      z-index: 5; }
    .recipe_box__img-container:hover::before {
      left: 200%; }
  .recipe_box__details {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .recipe_box__details {
        flex-basis: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .recipe_box__details.second {
        order: 1; } }
    .recipe_box__details h3 {
      color: #464952;
      font-size: 4rem;
      margin: 4rem 0; }

.my {
  margin: 5rem auto; }

.news {
  padding: 5rem 0;
  background-image: url("./../imgs/bg-shape5.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 5; }
  .news::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1; }
  .news .container .mail-box {
    width: 100%;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .news .container .mail-box input {
      font-size: 2rem;
      padding: 1rem 2rem;
      flex-basis: 30%;
      border: none;
      outline: none; }
      @media only screen and (max-width: 37.5em) {
        .news .container .mail-box input {
          flex-basis: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .news .container .mail-box button {
        flex-basis: 100%; } }

.footer {
  padding: 10rem 0 2rem 0;
  background-image: url("./../imgs/footer-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 55; }
  .footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1; }
  .footer .container {
    text-align: center; }
    .footer .container .logo {
      margin: 10rem 0 5rem 0; }
      @media only screen and (max-width: 37.5em) {
        .footer .container .logo {
          margin: 5rem 0 5rem 0; } }
    .footer .container ul {
      display: flex;
      justify-content: center;
      gap: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .footer .container ul {
          flex-direction: column; } }
    .footer .container ul li a {
      font-size: 2rem;
      color: #fff;
      transition: all 0.3s ease-in-out; }
      .footer .container ul li a:hover {
        color: #34bf49; }
    .footer .container .social {
      color: #949494;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      gap: 3rem;
      margin-bottom: 10rem; }
      @media only screen and (max-width: 37.5em) {
        .footer .container .social {
          gap: 2rem; } }
      .footer .container .social .icon-box {
        width: 5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid #949494;
        cursor: pointer;
        transition: all 0.3s ease-in-out; }
        .footer .container .social .icon-box:hover {
          color: #fff;
          border-color: #fff; }
    .footer .container .copyright {
      color: #fff; }

.chefs-slider {
  position: relative;
  margin: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .chefs-slider {
      margin: 2rem 1rem; } }
  .chefs-slider .swiper-slide {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media only screen and (max-width: 37.5em) {
      .chefs-slider .swiper-slide {
        gap: 0;
        text-align: center; } }
    .chefs-slider .swiper-slide .img {
      width: 40rem;
      height: 50rem;
      padding: 3rem;
      overflow: hidden; }
      @media only screen and (max-width: 37.5em) {
        .chefs-slider .swiper-slide .img {
          width: 20rem;
          height: 20rem;
          margin: auto; } }
      .chefs-slider .swiper-slide .img img {
        width: 100%;
        height: 100%;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
        @media only screen and (max-width: 37.5em) {
          .chefs-slider .swiper-slide .img img {
            border-radius: 50%;
            box-shadow: none; } }
    .chefs-slider .swiper-slide .content {
      flex-basis: 60%;
      padding-top: 5rem;
      padding-right: 5rem; }
      @media only screen and (max-width: 37.5em) {
        .chefs-slider .swiper-slide .content {
          flex-basis: 100%;
          padding: 0;
          padding-bottom: 5rem; } }
      .chefs-slider .swiper-slide .content h2 {
        font-size: 4rem;
        color: #464952;
        margin-bottom: 3rem; }
        @media only screen and (max-width: 37.5em) {
          .chefs-slider .swiper-slide .content h2 {
            font-size: 2rem;
            margin-bottom: 1rem; } }
      .chefs-slider .swiper-slide .content p {
        margin-bottom: 2rem; }
        @media only screen and (max-width: 37.5em) {
          .chefs-slider .swiper-slide .content p {
            text-align: left;
            font-size: 1.5rem; } }
      .chefs-slider .swiper-slide .content .chef-details {
        position: absolute;
        bottom: 1rem; }
        @media only screen and (max-width: 37.5em) {
          .chefs-slider .swiper-slide .content .chef-details {
            margin-top: 3rem; } }
        .chefs-slider .swiper-slide .content .chef-details .chef-name {
          margin-bottom: -1rem;
          color: #34bf49;
          font-weight: bold; }
        .chefs-slider .swiper-slide .content .chef-details .position {
          margin: 0; }
  .chefs-slider .nav-btns {
    position: absolute;
    width: 13rem;
    height: 5rem;
    right: 5rem;
    bottom: 0;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .chefs-slider .nav-btns {
        width: 12rem;
        margin-top: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .chefs-slider .nav-btns {
        right: 0; } }
    .chefs-slider .nav-btns .prev,
    .chefs-slider .nav-btns .next {
      border: 2px solid #34bf49;
      color: #34bf49;
      padding: 2rem;
      transition: all 0.3s ease-in-out; }
      @media only screen and (max-width: 37.5em) {
        .chefs-slider .nav-btns .prev,
        .chefs-slider .nav-btns .next {
          padding: 1rem 2rem; } }
    .chefs-slider .nav-btns .prev:hover,
    .chefs-slider .nav-btns .next:hover {
      color: #fff;
      background-color: #34bf49; }
    .chefs-slider .nav-btns .prev::after,
    .chefs-slider .nav-btns .next::after {
      font-size: 3rem; }
      @media only screen and (max-width: 37.5em) {
        .chefs-slider .nav-btns .prev::after,
        .chefs-slider .nav-btns .next::after {
          font-size: 2rem; } }

.users-testimonials .container {
  display: flex;
  justify-content: center; }
  .users-testimonials .container .circles {
    width: 50%;
    font-size: 5rem; }
  .users-testimonials .container .testimonials {
    width: 50%; }
    .users-testimonials .container .testimonials .swiper.usersSwiper .swiper-wrapper .swiper-slide img {
      margin-bottom: 2rem; }
    .users-testimonials .container .testimonials .swiper.usersSwiper .swiper-wrapper .swiper-slide p {
      margin-bottom: 2rem; }
    .users-testimonials .container .testimonials .swiper.usersSwiper .swiper-wrapper .swiper-slide .author {
      margin-top: 5rem; }
      .users-testimonials .container .testimonials .swiper.usersSwiper .swiper-wrapper .swiper-slide .author .name {
        color: #464952;
        font-weight: bold;
        margin-bottom: 0; }
      .users-testimonials .container .testimonials .swiper.usersSwiper .swiper-wrapper .swiper-slide .author .position {
        color: #999999; }
