.chefs-slider {
  position: relative;

  margin: 5rem;

  .imgDots {
    width: 30rem;
    height: 40rem;

    position: absolute;
    top: -10%;
    left: 5%;
    @include respond(laptop) {
      top: -2%;
      left: -2%;
    }
    @include respond(tablet-portrait) {
      top: -2%;
      left: -2%;
    }

    img {
      width: 100%;
      @include respond(phone) {
        display: none;
      }
    }
  }

  @include respond(phone) {
    margin: 2rem 1rem;
  }

  .swiper-slide {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // gap: 5rem;

    @include respond(tablet-portrait) {
      flex-wrap: nowrap;

      min-height: 50vh;
    }
    @include respond(phone) {
      flex-wrap: wrap;
      gap: 2rem;
      text-align: center;
    }

    .img {
      width: 40rem;
      height: 50rem;
      padding: 3rem;
      overflow: hidden;

      @include respond(laptop) {
        width: 30rem;
        height: 40rem;
      }
      @include respond(tablet-portrait) {
        width: 30rem;
        height: 30rem;
        padding: 0;
      }
      @include respond(phone) {
        // flex-basis: 100%;
        width: 20rem;
        height: 20rem;
        margin: auto;
        margin-bottom: 3rem;
        // border-radius: 50%;
      }
      img {
        width: 100%;
        height: 100%;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);

        @include respond(phone) {
          border-radius: 50%;

          box-shadow: none;
        }
      }
    }
    .content {
      flex-basis: 60%;
      padding-top: 5rem;
      padding-right: 5rem;
      @include respond(tablet-portrait) {
        flex-basis: 100%;
        padding-top: 0;
        padding-right: 0;
        padding-left: 5rem;
      }
      @include respond(phone) {
        flex-basis: 100%;
        padding: 0;
        padding-bottom: 5rem;
      }
      h2 {
        font-size: 4rem;
        color: $color-gray-dark;
        margin-bottom: 3rem;
        @include respond(tablet-portrait) {
          font-size: 3rem;
          margin-bottom: 1rem;
        }
        @include respond(phone) {
          font-size: 2rem;
          margin-bottom: 1rem;
        }
      }

      p {
        margin-bottom: 2rem;
        @include respond(tablet-portrait) {
          line-height: 1.4;
          margin-bottom: 1rem;
        }
        @include respond(phone) {
          text-align: left;
          font-size: 1.5rem;
        }
      }

      .chef-details {
        position: absolute;
        bottom: 1rem;
        @include respond(phone) {
          margin-top: 3rem;
        }

        // background-color: rebeccapurple;
        .chef-name {
          margin-bottom: -1rem;
          color: $color-main;
          font-weight: bold;
        }
        .position {
          margin: 0;
        }
      }
    }
  }

  .nav-btns {
    position: absolute;
    width: 13rem;
    @include respond(phone) {
      width: 12rem;
      margin-top: 3rem;
    }
    height: 5rem;
    right: 5rem;
    @include respond(phone) {
      right: 0;
    }
    bottom: 0;
    display: flex;
    justify-content: space-between;
    // background-color: cyan;

    .prev,
    .next {
      border: 2px solid $color-main;
      color: $color-main;
      padding: 2rem;
      transition: all 0.3s ease-in-out;
      @include respond(phone) {
        padding: 1rem 2rem;
      }
    }

    .prev:hover,
    .next:hover {
      color: #fff;
      background-color: $color-main;
    }

    .prev::after,
    .next::after {
      font-size: 3rem;
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
