// .chefs-slider {
//   .container {
//     .mySwiper {
//       .swiper-wrapper {
//         .swiper-slide {
//           position: relative;
//           display: flex;
//           flex-wrap: wrap;
//           justify-content: space-between;
//           // gap: 5rem;
//           padding: 5rem;
//           @include respond(phone) {
//             padding: 0rem;
//             text-align: center;
//           }
//           .img {
//             overflow: hidden;
//             // box-shadow: 0rem 4rem 2rem rgb(80 80 80 / 30%);
//             @include respond(phone) {
//               width: 20rem;
//               height: 20rem;
//               border-radius: 50%;
//             }
//             @include respond(phone) {
//               margin: 5rem auto;
//             }
//             img {
//               width: 100%;
//               height: 100%;
//             }
//           }
//           .content {
//             flex-basis: 64%;
//             @include respond(phone) {
//               flex-basis: 100%;
//             }
//             padding-right: 2rem;
//             h2 {
//               color: $color-gray-dark;
//               font-size: 3.5rem;
//               margin-bottom: 5rem;
//             }
//             p:first-of-type {
//               margin-bottom: 2.5rem;
//             }
//             .chef-details {
//               position: absolute;
//               bottom: 5rem;
//               @include respond(phone) {
//                 position: relative;
//               }
//               .chef-name {
//                 font-size: 2rem;
//                 font-weight: bold;
//                 color: $color-main;
//                 margin-bottom: 0;
//               }
//               .position {
//                 color: $color-gray-light;
//               }
//             }
//           }
//         }
//       }
//       .next {
//         // position: absolute;
//         // top: calc(100% - 10rem);
//         // right: 0rem;
//         color: $color-main;
//         background-color: #fff;
//         border: 2px solid $color-main;
//         padding: 3rem;
//         // @include respond(phone) {
//         //   top: 100%;
//         //   position: relative;
//         //   right: -80%;
//         // }
//       }

//       .next::after {
//         font-size: 3rem;
//       }
//       .prev {
//         // position: absolute;
//         // top: calc(100% - 10rem);
//         // left: calc(100% - 15rem);
//         color: $color-main;
//         background-color: #fff;
//         border: 2px solid $color-main;
//         padding: 3rem;
//         // @include respond(phone) {
//         //   top: 100%;
//         //   right: 80%;
//         //   position: relative;
//         // }
//       }

//       .prev::after {
//         font-size: 3rem;
//       }
//     }
//   }
//   margin: 5rem 5rem;
//   @include respond(phone) {
//     margin: auto;
//   }
// }

// .nav-btns {
//   position: relative;
//   width: 20rem;
//   height: 10rem;
//   background-color: pink;
// }

.chefs-slider {
  position: relative;
  margin: 5rem;
  @include respond(phone) {
    margin: 2rem 1rem;
  }

  .swiper-slide {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // gap: 5rem;
    @include respond(phone) {
      // height: calc(100vh + 5rem);
      gap: 0;
      text-align: center;
    }

    .img {
      width: 40rem;
      height: 50rem;
      padding: 3rem;
      overflow: hidden;

      @include respond(phone) {
        // flex-basis: 100%;
        width: 20rem;
        height: 20rem;
        margin: auto;
        // border-radius: 50%;
      }
      img {
        width: 100%;
        height: 100%;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);

        @include respond(phone) {
          border-radius: 50%;

          box-shadow: none;
        }
      }
    }
    .content {
      flex-basis: 60%;
      padding-top: 5rem;
      padding-right: 5rem;
      @include respond(phone) {
        flex-basis: 100%;
        padding: 0;
        padding-bottom: 5rem;
      }
      h2 {
        font-size: 4rem;
        color: $color-gray-dark;
        margin-bottom: 3rem;
        @include respond(phone) {
          font-size: 2rem;
          margin-bottom: 1rem;
        }
      }

      p {
        margin-bottom: 2rem;
        @include respond(phone) {
          text-align: left;
          font-size: 1.5rem;
        }
      }

      .chef-details {
        position: absolute;
        bottom: 1rem;
        @include respond(phone) {
          margin-top: 3rem;
        }

        // background-color: rebeccapurple;
        .chef-name {
          margin-bottom: -1rem;
          color: $color-main;
          font-weight: bold;
        }
        .position {
          margin: 0;
        }
      }
    }
  }

  .nav-btns {
    position: absolute;
    width: 13rem;
    @include respond(phone) {
      width: 12rem;
      margin-top: 3rem;
    }
    height: 5rem;
    right: 5rem;
    @include respond(phone) {
      right: 0;
    }
    bottom: 0;
    display: flex;
    justify-content: space-between;
    // background-color: cyan;

    .prev,
    .next {
      border: 2px solid $color-main;
      color: $color-main;
      padding: 2rem;
      transition: all 0.3s ease-in-out;
      @include respond(phone) {
        padding: 1rem 2rem;
      }
    }

    .prev:hover,
    .next:hover {
      color: #fff;
      background-color: $color-main;
    }

    .prev::after,
    .next::after {
      font-size: 3rem;
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
