.landing {
  background-image: url("./../imgs/bg-shape1.png");
  background-repeat: no-repeat;
  background-position: center;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .text-content {
      @include respond(phone) {
        text-align: center;
        flex-basis: 100%;
        margin: 5rem 0;
      }
      flex-basis: 50%;
    }
    p:first-of-type {
      color: $color-gray-dark;

      @include respond(phone) {
      }
    }
    p:last-of-type {
      @include respond(phone) {
      }
    }

    .img-container {
      // padding-top: 4rem;
      flex-basis: 50%;
      @include respond(tablet-portrait) {
      }

      @include respond(phone) {
        flex-basis: 100%;
        text-align: center;
      }

      img {
        width: 95%;
        position: relative;
        top: 0;
        left: 10rem;
        animation: spinDish 30s infinite linear;

        @include respond(laptop) {
          left: 0;
        }

        @include respond(tablet-landscape) {
          left: 0;
        }
        @include respond(tablet-portrait) {
          left: 0;
        }
        @include respond(phone) {
          left: 0;
          width: 80%;
        }
      }
    }
  }
}
