.menu {
  .container {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 60rem;
    .categories {
      width: 20%;
      //   background-color: palegoldenrod;

      ul {
        li {
          padding: 3rem;
          margin-bottom: 3rem;
          background-color: #f1f1f1;
          font-size: 2.2rem;
          display: flex;
          justify-content: space-between;
          border-radius: 0.3rem;
          cursor: pointer;
          box-shadow: 0 0 5rem 0 rgba(217, 217, 217, 0.5);

          &.active {
            color: $color-main;
            background-color: #fff;
            box-shadow: 0 0 5rem 0 rgba(217, 217, 217, 0.9);
          }
        }
      }
    }

    .slider {
      width: 75%;
      height: 100%;
      //   background-color: tan;
      position: relative;
      .wrapper {
        .slide {
          overflow: hidden;
          .title {
            color: $color-gray-dark;
            margin-bottom: 3rem;
            font-size: 4rem;
            width: 50%;
          }
          .details {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 3rem;
            margin-bottom: 3rem;

            .desc {
              flex-basis: 80%;
            }
            .cta {
              padding: 2rem 3rem;
            }
          }

          .img {
            width: 100%;
            img {
              //   width: 100%;
              object-fit: cover;
            }
          }
        }
      }

      .nav-btns {
        position: absolute;
        top: 5rem;
        right: 1rem;
        width: 13rem;
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        .prev,
        .next {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 5rem;
          height: 5rem;
          border: 1px solid $color-main;
        }
        .prev:hover,
        .next:hover {
          background-color: $color-main;
        }
        .prev::after,
        .next::after {
          color: $color-main;
          font-size: 2rem;
        }

        .prev:hover::after,
        .next:hover::after {
          color: #fff;
        }
      }
    }
  }
}
