.section-heading {
  h2 {
    color: $color-main;
    width: 65%;
    line-height: 1.7;
    @include respond(tablet-portrait) {
      width: 80%;
    }
    @include respond(phone) {
      width: 100%;
    }
  }
  p {
    width: 50%;
    @include respond(tablet-portrait) {
      width: 80%;
    }
    @include respond(phone) {
      width: 100%;
    }
  }
}
