.scroll-btn-container {
  position: fixed;

  bottom: 2rem;
  right: -200rem;
  transition: 2s;
  cursor: pointer;
  z-index: 500;

  & .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4rem;
    height: 4rem;
    background-color: $color-btn;
    border: 3px solid $color-main;
    color: $color-main;
    font-size: 3rem;
    transition: 0.3s;
    &:hover {
      color: $color-btn;
      background-color: $color-main;
    }
  }

  &::before {
    content: "";
    position: absolute;
    animation: scrollAnimation 2.5s infinite linear;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-gray-dark;
    z-index: -5;
  }
}
